# -------------------------
# Environment variables
# -------------------------
.env
.env.*

# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# -------------------------
# Virtual environment
# -------------------------
env/
venv/
ENV/
env1/

# -------------------------
# Django
# -------------------------
*.sqlite3
db.sqlite3
media/
staticfiles/

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/
*.swp

# -------------------------
# OS files
# -------------------------
Thumbs.db
.DS_Store
